@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Zackery Finn is a newly-hatched software developer looking to make all your wildest code dreams come true.</p>
<p>Reach out to Mr. Finn in one of the following ways below:</p>
<ul>
<li>phone - 313.415.7494</li>
<li>email - <a href="mailto:zackeryfinn@gmail.com">zackeryfinn@gmail.com</a></li>
<li><a href="https://www.linkedin.com/in/zackeryfinn/">LinkedIn</a></li>
<li><a href="https://github.com/zackeryfinn">GitHub</a></li>
    </ul>