@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World!</h1>
    <p class="lead">Zackery Finn is a C#.Net boot camp student at Grand Circus looking to transition careers into software development.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>
            I don't normally write a blog, but if I did it would contain a lot of words about mostly interesting things that some people might want to read about. Do you want to write a blog too? If so click the link below to learn more.
        <p><a class="btn btn-default" href="https://www.theblogstarter.com/">Learn more &raquo;</a></p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Developing</h2>
        <p>Zackery's current focus is on the <a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C# programming language</a>. He is also familiar with <a href="https://www.javascript.com/">JavaScript</a>, <a href="https://www.java.com/en/">Java</a>, and <a href="https://www.python.org/">Python</a>. He can also muck about in <a href="https://en.wikipedia.org/wiki/SQL">SQL</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>Hometown</h2>

        <p>Zackery was born in Detroit, Michigan and grew up in one of its suburbs: <a href="https://en.wikipedia.org/wiki/Dearborn,_Michigan">Dearborn</a> , land of Ford. </p>
        </div>
    </div>