@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Below are links to some projects I worked on in class that are shared on GitHub.</p>
<ul>
    <li><p>
    <a href="https://github.com/TThorpe1/MidTerm">Sample Library Terminal Application</a><br />
    This is a group midterm project I collaborated on with four fellow students. It features working with I/O control and lists.</p>
    </li>
    <li><p><a href="https://github.com/zackeryfinn/Lab11">Sample Movie Database Application</a><br />
        This is a simple movie database application.</p>
    </li>
    <li><p>
    <a href="https://github.com/zackeryfinn/LabNine/tree/master/LabNine">Sample Student Database Application</a><br />
    This is a simple list program organizing facts about fictional students.</p>
    </li>
    <li>Visit my <a href="https://github.com/zackeryfinn">GitHub page</a> for more projects.</li>
</ul>